<app-loading [isLoading]="isLoading"></app-loading>
<div *ngIf="!isLoading">
  <div *ngIf="noTasksMessage" class="error-message">
    {{ noTasksMessage }}
  </div>
  <div class="task-card-container">
    <div
      *ngFor="let task of tasks"
      class="task-card"
      [class.completed]="task.status"
    >
      <h3 class="task-title">{{ task.title }}</h3>
      <p class="task-deadline">Fecha límite: {{ task.deadLine }}</p>

      <p class="font-semibold" *ngIf="task.people.length > 0">
        Personas asociadas:
      </p>

      <ul>
        <li *ngFor="let person of task.people" class="mb-4">
          {{ person.fullName }} (Edad: {{ person.age }})
          <ul class="mt-2">
            <li *ngIf="person.skills.length > 0" class="font-semibold">
              Habilidades:
            </li>
            <li *ngFor="let skill of person.skills" class="ml-4">
              {{ skill.name }}
            </li>
          </ul>
        </li>
      </ul>

      <p *ngIf="task.people.length === 0">No hay personas asociadas.</p>
      <div class="task-status">
        Estado:
        <strong>{{ task.status ? 'Completada' : 'Pendiente' }}</strong>
      </div>

      <label>
        <input
          type="radio"
          name="taskStatus{{ task.id }}"
          (change)="updateTaskStatus(task, true)"
          [checked]="task.status"
        />
        Marcar como completada
      </label>
    </div>
  </div>

  <button class="button-save animated-button" [routerLink]="['/create-task']">
    <svg
      xmlns="http://www.w3.org/2000/svg"
      fill="none"
      viewBox="0 0 24 24"
      stroke-width="1.5"
      stroke="currentColor"
      class="w-6 h-6 inline checkmark"
    >
      <circle cx="12" cy="12" r="10" stroke="currentColor" />
      <path
        stroke-linecap="round"
        stroke-linejoin="round"
        d="M9 12l2 2 4-4"
        stroke="currentColor"
      />
    </svg>
    Crear tarea
  </button>
</div>
