<h1 class="title">Inicia sesión en tu cuenta</h1>

<form [formGroup]="loginForm" (ngSubmit)="logIn()" class="form">
  <div>
    <label for="email" class="label">Correo electrónico</label>
    <input
      type="email"
      id="email"
      formControlName="email"
      class="input"
      placeholder="juanito@managetasks.com"
    />
    <span
      *ngIf="emailControl?.errors?.['required'] && (passwordControl?.touched || passwordControl?.dirty || loginFormSubmitted)"
      class="error-message"
    >
      Por favor ingrese un correo electrónico válido.
    </span>
  </div>

  <div>
    <label for="password" class="label">Contraseña</label>
    <input
      type="password"
      id="password"
      formControlName="password"
      class="input"
      placeholder="••••••••"
    />
  </div>
  <span
    *ngIf="passwordControl?.errors?.['required'] && (passwordControl?.touched || passwordControl?.dirty || loginFormSubmitted)"
    class="error-message"
  >
    La contraseña es obligatoria.
  </span>
  <br />

  <button type="submit" class="button mb-4">Iniciar sesión</button>

  <button type="button" (click)="logInWithGoogle()" class="google-button mb-4">
    <img
      class="google-logo"
      src="https://www.svgrepo.com/show/475656/google-color.svg"
      alt="Google"
    />
    <span>Iniciar sesión con Google</span>
  </button>
</form>
