<main class="dashboard-container">
  <div *ngIf="isLoading" class="loading-container">
    <div class="spinner"></div>
    <p class="loading-text">Cargando la lista de tareas...</p>
  </div>

  <div *ngIf="!isLoading">
    <div class="header">
      <img class="logo" src="../../../assets/images/logo.png" alt="logo" />
    </div>

    <div class="dashboard-header">
      <h2 class="dashboard-title">
        Hola: {{ dataUser.name + " " + dataUser.lastName + " " }} bienvenid&#64;
      </h2>
      &nbsp; &nbsp;
      <button (click)="logOut()" class="logout-button">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          stroke-width="1.5"
          stroke="currentColor"
          class="w-6 h-6 inline"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M15.75 9V5.25a2.25 2.25 0 00-2.25-2.25h-6A2.25 2.25 0 005.25 5.25v13.5A2.25 2.25 0 007.5 21h6a2.25 2.25 0 002.25-2.25V15"
          />
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M18 12h-9m0 0l3-3m-3 3l3 3"
          />
        </svg>
        Salir
      </button>
    </div>

    <div class="character-div">
      <div class="character-grid">
        <div
          *ngFor="let character of characters"
          class="character-card"
          [class.selected]="character.isSelected"
          (click)="toggleSelectCharacter(character)"
        >
          <img
            class="character-image"
            [src]="
              character.thumbnail.path + '.' + character.thumbnail.extension
            "
            alt="{{ character?.name }}"
          />
          <div class="character-info">
            <div class="character-name">{{ character?.name }}</div>
            <p class="character-description">
              {{ character.description || "No description available." }}
            </p>
            <p class="character-appearance">
              First appearance:
              {{ character?.comics?.items?.[0]?.name || 'N/A' }}
            </p>
          </div>
        </div>
      </div>
    </div>

    <button
      *ngIf="!showSavedCharacters && isAnyCharacterSelected()"
      class="button-save"
      (click)="savePreferences()"
    >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 24 24"
        class="w-6 h-6 inline"
      >
        <path
          fill="none"
          stroke="currentColor"
          stroke-width="2"
          d="M6 2h12a2 2 0 012 2v16a2 2 0 01-2 2H6a2 2 0 01-2-2V4a2 2 0 012-2zm3 2v4h6V4H9zm-1 12v-2h8v2H8z"
        />
      </svg>
      Guardar preferencias
    </button>
    <button
      *ngIf="showSavedCharacters"
      (click)="toggleView()"
      class="button-save"
    >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 24 24"
        stroke-width="1.5"
        stroke="currentColor"
        class="w-6 h-6 inline"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          d="M10.5 19.5l-7.5-7.5 7.5-7.5m8 15l-7.5-7.5 7.5-7.5"
        />
      </svg>
      Mostrar todos los personajes
    </button>
  </div>
</main>
