<div>
  <h1 class="title mb-4">Registra tus datos</h1>
  <form [formGroup]="signUpForm" (ngSubmit)="signUp()" class="form">
    <div class="mb-4">
      <label for="name" class="label">Nombres</label>
      <input
        type="text"
        id="name"
        formControlName="name"
        class="input"
        placeholder="Juanito"
        required
      />
      <span
        *ngIf="nameControl?.errors?.['required'] && (signUpFormSubmitted)"
        class="error-message"
      >
        El nombre es obligatorio.
      </span>
    </div>

    <div class="mb-4">
      <label for="lastName" class="label">Apellidos</label>
      <input
        type="text"
        id="lastName"
        formControlName="lastName"
        class="input"
        placeholder="Perez"
        required
      />
    </div>

    <div class="mb-4">
      <label for="identification" class="label">Numero de identificación</label>
      <input
        type="number"
        id="identification"
        formControlName="identification"
        class="input"
        placeholder="10617589"
        required
      />
      <span
        *ngIf="identificationControl?.errors?.['required'] && (signUpFormSubmitted)"
        class="error-message"
      >
        La identificación es obligatoria.
      </span>
      <span
        *ngIf="identificationControl?.errors?.['pattern'] && signUpFormSubmitted"
        class="error-message"
      >
        La identificación debe tener al menos 8 dígitos.
      </span>
    </div>

    <div class="mb-4">
      <label for="phone" class="label">Celular</label>
      <input
        type="number"
        id="phone"
        formControlName="phone"
        class="input"
        placeholder="3125623265"
        required
      />
      <span
        *ngIf="phoneControl?.errors?.['pattern'] && signUpFormSubmitted"
        class="error-message"
      >
        El celular debe ser un número válido de 10 dígitos que comience con 3.
      </span>
    </div>

    <div class="mb-4">
      <label for="email" class="label">Correo electrónico</label>
      <input
        type="email"
        id="email"
        formControlName="email"
        class="input"
        placeholder="juanito@managetasks.com"
        required
      />
      <span
        *ngIf="emailControl?.errors?.['required'] && (passwordControl?.touched || passwordControl?.dirty || signUpFormSubmitted)"
        class="error-message"
      >
        Por favor ingrese un correo electrónico válido.
      </span>
    </div>

    <div class="mb-4">
      <label for="password" class="label">Contraseña</label>
      <input
        type="password"
        id="password"
        formControlName="password"
        class="input"
        placeholder="••••••••"
        required
      />
      <span
        *ngIf="passwordControl?.errors?.['required'] && (signUpFormSubmitted)"
        class="error-message"
      >
        La contraseña es obligatoria.
      </span>
    </div>

    <button type="submit" class="button mb-4">Registrar</button>
  </form>
</div>
