<section class="section">
  <div class="container">
    <div class="content">
      <div class="header">
        <img class="logo" src="../../../assets/images/logo.png" alt="logo">
      </div>
      <h1 class="title">
        Registra tus datos
      </h1>
        <div>
          <label for="name" class="label">Nombres</label>
          <input type="text" name="name" id="name" #name class="input" placeholder="Peter" required>
        </div>
        <div>
          <label for="lastName" class="label">Apellidos</label>
          <input type="text" name="lastName" id="lastName" #lastName class="input" placeholder='Parker' required>
        </div>
        <div>
          <label for="identification" class="label">Numero de identificación</label>
          <input type="number" name="identification" id="identification" #identification class="input" placeholder="10617589" required>
        </div>
        <div>
          <label for="phone" class="label">Celular</label>
          <input type="number" name="phone" id="phone" #phone class="input" placeholder="3125623265" required>
        </div>
        <div>
          <label for="email" class="label">Correo electrónico</label>
          <input type="email" name="email" id="email" #email class="input" placeholder="spiderman@marvel.com" required>
        </div>
        <div>
          <label for="password" class="label">Contraseña</label>
          <input type="password" name="password" id="password" #password class="input" placeholder='••••••••' required>
        </div>
        <button type="click" (click)="signUp(name.value, lastName.value, +identification.value, +phone.value, email.value, password.value)" class="button">Registrar</button>
      <p class="footer">
        ¿Ya tienes una cuenta?
        <a routerLink="/login" class="signup-link">Accede</a>
      </p>
    </div>
  </div>
</section>
